 div.flex-container{
        display: flex;
        flex-direction: column;
    }
p#error1, #error2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    font-size: 16px;
}

span#payment{
    color: green;
    font: 16px;
}