body{
    background-color: lightblue;
}

div.container{
    display: flex;
    flex-wrap: wrap;
}
div.container > form > input,textarea{
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
    color: red;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
    td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  span{
      color: red;
  }
 
   

